@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: 	#011425;
  color: white;
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-corner{
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 10px;
}


.input {
  @apply p-[20px] w-[400px] rounded-[5px] bg-gray-500 text-black outline-none placeholder:text-black font-semibold
}

.icons{
  @apply w-[60px] h-[60px] object-cover rounded-[50%] cursor-pointer
}
.icon-chat{
  @apply w-[50px] h-[50px] object-cover rounded-[50%] cursor-pointer
}

.small-icon{
  @apply w-[10px] h-[10px]
}